body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin:  0;
    font-family: 'Roboto', sans-serif;
    background: #222;
    background: url('https://source.unsplash.com/1600x900/?sunset,landscape') center center/cover no-repeat;
    font-size: 120%;
}

.card {
    background: #000000d0;
    color: #fff;
    padding: 2em;
    border-radius: 30px;
    width: 100%;
    max-width: 420px;
    margin: 1em;
}

.search {
    display: flex;
    align-items: center;
    justify-content: center;
}

input.search-bar {
    border: none;
    outline: none;
    padding: 0.4em 1em;
    border-radius: 24px;
    background: #7c7c7c2b;
    color: #fff;
    font-family: inherit;
    font-size: 105%;
    width: calc(100% - 100px);
    text-transform: capitalize;

}

button {
    margin: 0.5em;
    border-radius: 50%;
    border: none;
    height: 44px;
    width: 44px;
    outline: none;
    background: #7c7c7c2b;
    color: #fff;
    cursor: pointer;
    transition: 0.2s ease-in-out;
}

button:hover {
    background: #7c7c7c6b;
}



h1.temp {
    margin: 0;
}

.description {
    text-transform: capitalize;
    margin-left: 8px;
}

.flex {
    display: flex;
    align-items: center;
}

.weather.loading-hide { 
    visibility: hidden;
    max-height: 20px;
    position: relative;
}
.weather.loading-hide:after { 
    visibility: visible;
    content: "Loading Weather...";
    color: #fff;
    position: absolute;
    top: 0;
    left: 20px;
}

#set-location {
    font-size: 14px;
    text-decoration: underline;
    padding: 0;
    color: #cccccc;
    cursor: pointer;
    display: inline-block;
    padding: .5em;
}

#close {
    font-size: 14px;
    cursor: pointer;
}
.hidden {
    display: none;
}